<h1 class='text-center'>About</h1>
<br><br>
<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<blockquote>
			Made with love (over a weekend) in San Francisco.
		</blockquote>
		<blockquote>
			Built on top of <a href="https://blockchain.info/api/api_websocket">Blockchain.info</a> and <a href="http://angularjs.org/">AngularJS</a>
		</blockquote>
		<blockquote>
			Find source code on <a href="#">Github</a>
		</blockquote>
		<blockquote>
			Please direct hate-mail, feature requests and collab ideas to scottli0101@gmail.com
		</blockquote>
	</div>
</div>
